#app-parent {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

#canvas-container {
    overflow: hidden;
    
    flex-grow: 1; 
    flex-shrink: 1;
}

#main-canvas {
    cursor: -webkit-grab;
    cursor: grab;
    touch-action: none;

    width: 100%;
    height: 100%;
}

#main-canvas.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}